{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- Login form -->
<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="p-4 border rounded">
        <h1 class="text-center mb-4">Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <!-- use flask wtf + csrf token -->
            {{ form.hidden_tag() }}  
            <div class="mb-3">
                {{ form.email.label }}<br>
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <small class="text-danger">{{ error }}</small><br>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <small class="text-danger">{{ error }}</small><br>
                {% endfor %}
            </div>

            <div class="text-center">
                {{ form.submit(class="btn btn-primary w-100") }}
            </div>
        </form>

        <p class="text-center mt-3">
            Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.
        </p>
    </div>
</div>
{% endblock %}
